<div class="m-20">
<%= render "form", task: @task, url: task_path, action: 'patch', task: @task.getTaskJson, priorities: Task.getPriorityDDList, statuses: Task.getStatusDDList %>

<br>

<div>
  <%#= link_to "Show this task", task_path(task_id: @task.task_id) %>
  <%#= link_to "Back to tasks", tasks_path %>
</div>
</div>