<div class="m-20">

  <div id="header-alert" data-controller="utils--header-alert" data-utils--header-alert-notice-value="<%= notice %>" class="mb-4 m-20">
    <!-- The React component will be rendered here only if notice has data -->
    <div data-utils--header-alert-target="notice"></div>
  </div>

<%= render "form", task: @task ,url: tasks_path, action:'create', task: @task.getTaskJson, priorities: Task.getPriorityDDList, statuses: Task.getStatusDDList  %>

<br>

<div>
  <%#= link_to "Back to tasks", tasks_path %>
</div>
</div>
